@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", serif;
  box-sizing: border-box;
}
body {
  background-color: #f1ff48;
  overflow-x: hidden;
}
nav {
  margin-top: 30px;
}
nav ul li {
  list-style: none;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.container-1 {
  height: 100vh;
  border-bottom: 2px solid black;
  margin-top: 0px;
  display: flex;
}
.left-1 {
  margin: 50px;
  width: 65%;
  /* border: 2px solid black; */
  /* text-align: center; */
}
.right-1 {
  width: 35%;
  /* border: 2px solid black; */
}
#img-1 {
  height: 330px;
  margin-top: 150px;
}
.text-1 {
  position: relative;
  top: 25%;
}
.btn-1 {
  background-color: #e7d3fd;
  padding: 20px;
  box-shadow: 0 8px 8px 0;
  position: relative;
  top: 270px;
  left: 50px;
}
.btn-2 {
  margin-left: 30px;
  background-color: #f1ff48;
  padding: 20px;
  box-shadow: 0 8px 8px 0;
  position: relative;
  top: 270px;
  left: 50px;
}
.btn {
  position: relative;
  top: 180px;
  left: 0px;
}
.social-media {
  position: relative;
  top: 190px;
}
.social-media img {
  margin: 5px;
}
.container-2 {
  height: 150vh;
  background-color: #fff8f2;
  width: 100vw;
  position: relative;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-2 {
  position: relative;
  left: 800px;
}
progress {
  padding: 10px;
}
.main {
  background-color: #e7d3fd;
  padding: 70px;
  position: relative;
  width: 60%;
  position: relative;
  bottom: 240px;
  border: 2px solid black;
  gap: 40px;
}
.text-2 {
  text-align: center;
}
ul li {
  list-style: none;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.p{
  font-size: 17px;
  font-weight: bolder;
}
.main-1{
  position: relative;
  bottom: 370px;
  left: 60px;
}
#img-2{
  border: 2px solid black;
}
.h4{
  text-align: center;
  position: relative;
  bottom: 374px;
  margin-left: 313px;
}
.container-3{
  height: 120vh;
  background-color: #ffd5cb;
  width: 100vw;
  margin-top: -727px;
  overflow-y: hidden;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#h5{
  position: relative;
  top: 170px;
  left: 90px;
}
.container-3 > p{
  position: relative;
  top: 170px;
  left: 90px;
}

.boxes{
  height: 244px;
  width: 380px;
  border: 2px solid black;
  margin: 40px;
  font-weight: bolder;
  font-size: 30px;
}
#box-1{
  margin-top: 220px;
  margin-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/ai-generated-8524928_640.png);
  background-size: cover;
}
#box-2{
  margin-left: 90px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url(assets/ai-generated-8692405_640.jpg);
  background-size: cover;
}
#box-3{
  align-items: center;
  display: flex;
  justify-content: center;
}
#box-4{
  align-items: center;
  display: flex;
  justify-content: center;
}
#box-5{
  height: 174px;
  width: 380px;
  border: 2px solid black;
  margin: 40px;
  font-weight: bolder;
  position: relative;
  bottom: 792px;
  left: 800px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f1ff48;
  font-size: 100px;
  color: #0b66c3;
}
.right{
  position: relative;
  left: 800px;
  bottom: 780px;
}
footer{
  background-color: #e7d3fd;
  height: 25vh;
  margin: -22px;
}
#h6{
  text-align: center;
  padding-top: 50px;
}
.socials{
  text-align: center;
  padding-top: 30px;
  gap: 30px;
}
#h7{
  border-top: 2px solid black;
  padding-top: 20px;
  padding-bottom: 25px;
}
#h7{
  background-color: #e7d3fd;
}
@media only screen and (max-width: 600px) {

  .container-1 {
    flex-wrap: wrap;
    position: relative;
    height: 130vh;
    
  }
  .container-2{
    overflow-x: hidden;
  }
  .right-1 {
    position: relative;
    bottom: 1000px;
    left: 50px;
  }
  #img-1 {
    height: 300px;
    position: relative;
    top: 62px;
  }
  .left-1 {
    position: relative;
    top: 15%;
  }
  .text-1 {
    margin: 20px;
    position: relative;
    top: 23%;
    font-size: smaller;
  }
  .main {
    width: 100vw;
    position: relative;
    bottom: 236px;
  }
  ul{
    gap: 15px;
    display: grid;
  }
  progress{
    padding: 0px;
  }
  .main-1{
    position: relative;
    bottom: 580px;
    left: -10px;
    padding-bottom: 0px;
  }
  #img-2{
    width: 101vw;
  }
  .h4{
    text-align: center;
    position: relative;
    bottom: 0px;
    margin-left: 0px;
    width: 105%;
  }
  .container-3{
    margin-top: -522px;
    height: 210vh;
  }
 #h5{
  position: relative;
  top: 97px;
  left: 0px;
  text-align: center;
 }
 .container-3 > p{
  position: relative;
  top: 106px;
  left: 0px;
  margin: 20px;
 }
 #box-1{
  margin-top: 202px;
  margin-left: 10px;
 }
 #box-2{
  margin-left: 10px;
 }
 .right{
  position: relative;
  left: -27px;
  bottom: 0px;
 }
 #box-5{
  position: relative;
  left: -26px;
  bottom: 0px;
 }
}
